PORT=3000
NODE_ENV=development

#Mongo (local 0o Atlas)
MONGO_URI=mongodb://localhost:27017/Backend-clase 2\backend2-clase1


#Cookie
JWT_SECRET=super_secreto_unico
JWT_EXPIRES=15m
COOKIE_SECRET=otra_clave_para_firmar
COOKIE_NAME=currentUser

# CORS (si hay front aparte)
# CORS_ORIGIN=http://localhost:5173
